
<div class="row">

    <div class="col-md-4 col-md-offset-4">

        <div class="panel panel-default">
            <div class="panel-heading" translate>AUTH.LOGIN.TITLE</div>
            <div class="panel-body">
                <div class="alert alert-danger" ng-show="authenticationError">
                    <strong translate>AUTH.LOGIN.INVALID_CREDENTIALS</strong>
                </div>
                <form>
                    <div class="form-group">
                        <input ng-keyup="$event.keyCode == 13 && signIn(user.username, user.password)" ng-model="user.username" type="text" class="form-control" id="username" placeholder="{{ 'AUTH.LOGIN.USERNAME' | translate }}">
                    </div>

                    <div class="form-group">
                        <input ng-keyup="$event.keyCode == 13 && signIn(user.username, user.password)" ng-model="user.password" type="password" class="form-control" id="password" placeholder="{{ 'AUTH.LOGIN.PASSWORD' | translate }}">
                    </div>

                    <button ng-click="signIn(user.username, user.password)" type="button" class="center-block btn btn-success" title="{{ 'AUTH.LOGIN.ACTION' | translate }}">
                        <i class="fa fa-sign-in"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
