<h2>
    {{ 'USER.LIST_TITLE' | translate }}

    <a ui-sref="^.create" class="pull-right btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        {{ 'USER.ACTION_CREATE' | translate }}
    </a>
</h2>

<form class="form-horizontal">
    <div class="col-md-5">
        <input type="text" class="form-control" id="name" ng-model="filterParams.name" ng-change="filterableUsers.filter()">
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-5" ng-click="orderBy('name')"><span translate>USER.PROPERTY_NAME</span><span ng-class="orderedClass('name')" aria-hidden="true"></span></th>
            <th class="col-md-5" ng-click="orderBy('email')"><span translate>USER.PROPERTY_EMAIL</span><span ng-class="orderedClass('email')"  aria-hidden="true"></span></th>
            <th class="col-md-2" class="text-right" translate>COMMON.HEADER.ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in filterableUsers.data">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td class="text-right">
                <a ui-sref="^.edit({id: user.id})" class="glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <filterable-page-nav ng-model="filterableUsers"></filterable-page-nav>
</div>

