<h2>
    {{ 'USER.LIST_TITLE' | translate }}

    <a ui-sref="^.create" class="pull-right btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        {{ 'USER.ACTION_CREATE' | translate }}
    </a>
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th translate>USER.PROPERTY_NAME</th>
            <th translate>USER.PROPERTY_EMAIL</th>
            <th class="text-right" translate>COMMON.HEADER.ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in filterableUsers.data">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td class="text-right">
                <a ui-sref="^.edit({id: user.id})" class="glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <filterable-page-nav ng-model="filterableUsers"></filterable-page-nav>
</div>

