<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
  <title translate>APP.TITLE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <link href="css/app.css" type="text/css" rel="stylesheet">
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="../bower_components/lodash/lodash.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-translate/angular-translate.js"></script>
  <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
  <script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>
  <!-- Add New Bower Component JS Above -->


  <!-- Configuration -->
  <script src="modules/configuration/identity/identity-config.js"></script>
  <script src="modules/configuration/identity/authentication-config.js"></script>
  <script src="modules/configuration/identity/authority-config.js"></script>
  <script src="modules/configuration/rest-config.js"></script>
  <script src="modules/configuration/state-config.js"></script>
  <script src="modules/configuration/locale-config.js"></script>
  <!-- Add New Configuration Component Above -->


  <!-- Main App JS -->
  <script src="modules/components/components-config.js"></script>
  <script src="modules/components/filterable/filterable-config.js"></script>

  <script src="modules/company/company-config.js"></script>
  <script src="modules/company/company-rest-service.js"></script>
  <script src="modules/company/list/company-list-controller.js"></script>
  <script src="modules/company/details/company-details-controller.js"></script>

  <script src="modules/user/user-config.js"></script>
  <script src="modules/user/user-rest-service.js"></script>
  <script src="modules/user/list/user-list-controller.js"></script>
  <script src="modules/user/details/user-details-controller.js"></script>
  <!-- Add New Component JS Above -->

  <!-- Main App JS -->
  <script src="app.js"></script>

  <div class="content">

      <div class="jumbotron">

          <ul class="nav navbar-nav navbar-right nav-main nav-pills pull-right" ng-controller="identityController">
              <li><a ng-if="$hasAuthority('page.company.list')" ui-sref="page.company.list" translate>COMPANY.LINK</a></li>
              <li><a ng-if="$hasAuthority('page.user.list')" ui-sref="page.user.list" translate>USER.LINK</a></li>
              <li dropdown class="dropdown">
                  <a ng-if="identity" dropdown-toggle="" href="" class="dropdown-toggle">
                      <i class="glyphicon glyphicon-user"></i>
                      {{identity.username}} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a ng-hide="isLang('fr')" ng-click="changeLang('fr')" translate>APP.LANG.FR</a></li>
                      <li><a ng-hide="isLang('en')" ng-click="changeLang('en')" translate>APP.LANG.EN</a></li>
                      <li><a ui-sref="page.logout" ng-click="signOut()" translate>AUTH.LOGOUT.TITLE</a></li>
                  </ul>
              </li>
          </ul>

          <h1 translate>APP.TITLE</h1>
          <p translate>APP.SUB_TITLE</p>

      </div>

      <div class="container">
          <div ui-view></div>
      </div>
  </div>

  <footer class="container">
      <div class="row text-muted">
          <div class="col-md-1" translate>ABOUT.LINK</div>
          <div class="col-md-1" translate>FAQ.LINK</div>
      </div>
  </footer>


</body>
</html>
