<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <link href="css/app.css" type="text/css" rel="stylesheet">
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="../bower_components/lodash/lodash.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- Add New Bower Component JS Above -->


  <!-- Configuration -->
  <script src="modules/configuration/auth-config.js"></script>
  <script src="modules/configuration/rest-config.js"></script>
  <script src="modules/configuration/state-config.js"></script>
  <!-- Add New Configuration Component Above -->


  <!-- Main App JS -->
  <script src="modules/companies/companies-config.js"></script>
  <script src="modules/companies/companies-rest-service.js"></script>
  <script src="modules/companies/list/companies-list-controller.js"></script>
  <script src="modules/companies/details/companies-details-controller.js"></script>

  <script src="modules/users/users-config.js"></script>
  <script src="modules/users/users-rest-service.js"></script>
  <script src="modules/users/list/users-list-controller.js"></script>
  <script src="modules/users/details/users-details-controller.js"></script>

  <script src="app.js"></script>
  <!-- Add New Component JS Above -->

  <div class="content">

      <div class="jumbotron">

          <ul class="nav nav-main nav-pills pull-right">
              <li><a ui-sref="page.companies.list">Companies</a></li>
              <li><a ui-sref="page.users.list">Users</a></li>
          </ul>

          <h1>Sample App</h1>
          <p>AngularJS Best Practices</p>
      </div>

      <div class="container">
          <div ui-view></div>
      </div>
  </div>

  <footer class="container">
      <div class="row text-muted">
          <div class="col-md-1">About</div>
          <div class="col-md-1">FAQ</div>
      </div>
  </footer>

</body>
</html>
