<h2 class="page-header">
    {{user.name}}
    <small>{{ isEditing ? 'USERS.ACTION_UPDATE' : 'USERS.ACTION_CREATE' | translate }}</small>

</h2>


<div class="container">
    <div class="row">
        <div class="col-md-6">


            <form class="form-horizontal">

                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label" translate>USERS.PROPERTY_NAME</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" ng-model="user.name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label" translate>USERS.PROPERTY_EMAIL</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" ng-model="user.email">
                    </div>
                </div>
            </form>

            <div class="pull-right">
                <a ui-sref="page.users.list" type="button" class="btn btn-sm btn-link" translate>USERS.ACTION_CANCEL</a>
                <button ng-if="isEditing" ng-click="delete()" type="button" class="btn btn-sm btn-danger" translate>USERS.ACTION_DELETE</button>
                <button ng-click="createOrUpdate()" type="button" class="btn btn-sm btn-success">{{ isEditing ? 'USERS.ACTION_UPDATE' : 'USERS.ACTION_CREATE' | translate }}</button>
            </div>
        </div>
    </div>
</div>
